// CONSTANTS

// Breakpoints for responsive layout
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// Z-index master list
$zindex-toast:                      990 !default; // Review: check z-index - needs to be below dropdown z-index (1000), was 1090
$zindex-dropdown:                   1000 !default;
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
//$zindex-offcanvas-backdrop:         1040 !default;
//$zindex-offcanvas:                  1045 !default;
$zindex-modal-backdrop:             1050 !default;
$zindex-modal:                      1055 !default;
$zindex-popover:                    1070 !default;
$zindex-tooltip:                    1080 !default;

$zindex-max: 2147483647 !default;

$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-weight-thin:          100;
$font-weight-extralight:    200;
$font-weight-light:         300;
$font-weight-normal:        400;
$font-weight-medium:        500;
$font-weight-semibold:      600;
$font-weight-bold:          700;
$font-weight-extrabold:     800;
$font-weight-black:         900;
$font-weight-extrablack:    950;
