// initial color used to generate palette
$wy-blue: #61afef;
$wy-green: #98c379;
$wy-yellow: #e5c07b;
$wy-magenta: #c678dd;

$seed: $wy-blue;

// primary
$primary-0: #000000;
$primary-10: #001d32;
$primary-20: #003352;
$primary-30: #004a75;
$primary-40: #006399;
$primary-50: #1e7dba;
$primary-60: #4497d6;
$primary-70: #62b2f3;
$primary-80: #95ccff;
$primary-90: #cde5ff;
$primary-95: #e8f2ff;
$primary-99: #fcfcff;
$primary-100: #ffffff;

// secondary
$secondary-0: #000000;
$secondary-10: #0a2100;
$secondary-20: #163800;
$secondary-30: #245103;
$secondary-40: #3b6a1c;
$secondary-50: #538333;
$secondary-60: #6c9e4a;
$secondary-70: #86b962;
$secondary-80: #a0d57b;
$secondary-90: #bbf294;
$secondary-95: #ceffaa;
$secondary-99: #f8ffeb;
$secondary-100: #ffffff;

// tertiary
$tertiary-0: #000000;
$tertiary-10: #261900;
$tertiary-20: #412d00;
$tertiary-30: #5d4200;
$tertiary-40: #7b5800;
$tertiary-50: #9a7000;
$tertiary-60: #b9880f;
$tertiary-70: #d7a32e;
$tertiary-80: #f5be48;
$tertiary-90: #ffdea4;
$tertiary-95: #ffefd6;
$tertiary-99: #fffbff;
$tertiary-100: #ffffff;

// neutral
$neutral-0: #000000;
$neutral-10: #1a1c1e;
$neutral-20: #2f3033;
$neutral-30: #45474a;
$neutral-40: #5d5e61;
$neutral-50: #76777a;
$neutral-60: #909194;
$neutral-70: #aaabae;
$neutral-80: #c6c6c9;
$neutral-90: #e2e2e5;
$neutral-95: #f0f0f4;
$neutral-99: #fcfcff;
$neutral-100: #ffffff;

// neutral variant
$neutral-variant-0: #000000;
$neutral-variant-10: #171c22;
$neutral-variant-20: #2c3137;
$neutral-variant-30: #42474e;
$neutral-variant-40: #595f65;
$neutral-variant-50: #72777e;
$neutral-variant-60: #8c9198;
$neutral-variant-70: #a7acb3;
$neutral-variant-80: #c2c7ce;
$neutral-variant-90: #dee3eb;
$neutral-variant-95: #ecf1f9;
$neutral-variant-99: #fcfcff;
$neutral-variant-100: #ffffff;

// error
$error-0: #000000;
$error-10: #410004;
$error-20: #68000b;
$error-30: #930014;
$error-40: #ba1824;
$error-50: #de3539;
$error-60: #ff5352;
$error-70: #ff8982;
$error-80: #ffb3ae;
$error-90: #ffdad7;
$error-95: #ffedeb;
$error-99: #fffbff;
$error-100: #ffffff;

// warning (custom addition)
$warning-0: #000000;
$warning-10: #1c1d00;
$warning-20: #323200;
$warning-30: #484a00;
$warning-40: #606200;
$warning-50: #7a7c05;
$warning-60: #949626;
$warning-70: #afb140;
$warning-80: #cacc58;
$warning-90: #e7e971;
$warning-95: #f5f77d;
$warning-99: #fffbff;
$warning-100: #ffffff;

// custom colors
$blue-light: #89a9fc;
$indigo-light: #9185de;
$purple-light: #c675b7;
$pink-light: #d57194;
$red-light: #db726c;
$orange-light: #e89a3a;
$yellow-light: #afb140;
$green-light: #00a38b;
$teal-light: #00a0a8;
$cyan-light: #0082a1;
$gray-light: #76777a;

$blue-dark: #b1c5ff;
$indigo-dark: #9185de;
$purple-dark: #e38fd3;
$pink-dark: #f48bae;
$red-dark: #db726c;
$orange-dark: #e89a3a;
$yellow-dark: #cacc58;
$green-dark: #00a38b;
$teal-dark: #00a0a8;
$cyan-dark: #009dc3;
$gray-dark: #909194;

// surface levels
$surface-1-light: #f1f2f7; // $neutral-99 + $primary-40 with 5% opacity
$surface-2-light: #eaedf3; // $neutral-99 + $primary-40 with 8% opacity
$surface-3-light: #e3e7ee; // $neutral-99 + $primary-40 with 11% opacity
$surface-4-light: #e1e6ed; // $neutral-99 + $primary-40 with 12% opacity
$surface-5-light: #dce2ea; // $neutral-99 + $primary-40 with 14 opacity

$surface-1-dark: #212427; // $neutral-10 + $primary-80 with 5% opacity
$surface-2-dark: #25292d; // $neutral-10 + $primary-80 with 8% opacity
$surface-3-dark: #292e33; // $neutral-10 + $primary-80 with 11% opacity
$surface-4-dark: #2b3035; // $neutral-10 + $primary-80 with 12% opacity
$surface-5-dark: #2d3338; // $neutral-10 + $primary-80 with 14% opacity 


// Fixed colors

// Syntax highlight: VS Code theme
// Theme generated from VS Code using https://prism.dotenv.dev/

$code-text-light: #3b3b3b;
$code-variable-light: #001080;
$code-operator-light: #000000;
$code-prolog-light: #000080;
$code-comment-light: #008000;
$code-builtin-light: #0070C1;
$code-number-light: #098658;
$code-inserted-light: #098658;
$code-constant-light: #811F3F;
$code-hexcode-light: #811F3F;
$code-regex-light: #811F3F;
$code-char-light: #811F3F;
$code-tag-light: #800000;
$code-attr-name-light: #E50000;
$code-selector-light: #E50000;
$code-property-light: #E50000;
$code-deleted-light: #A31515;
$code-string-light: #A31515;
$code-changed-light: #0451A5;
$code-punctuation-light: #000000;
$code-function-light: #0000FF;
$code-keyword-light: #AF00DB;
$code-class-name-light: #267F99;

$code-text-dark: #cccccc;
$code-variable-dark: #9CDCFE;
$code-operator-dark: #d4d4d4;
$code-prolog-dark: #569CD6;
$code-comment-dark: #6a9955;
$code-builtin-dark: #4fc1ff;
$code-number-dark: #b5cea8;
$code-inserted-dark: #b5cea8;
$code-constant-dark: #646695;
$code-hexcode-dark: #646695;
$code-regex-dark: #d16969;
$code-char-dark: #d16969;
$code-tag-dark: #569cd6;
$code-attr-name-dark: #9cdcfe;
$code-selector-dark: #9cdcfe;
$code-property-dark: #9cdcfe;
$code-deleted-dark: #ce9178;
$code-string-dark: #ce9178;
$code-changed-dark: #569cd6;
$code-punctuation-dark: #D4D4D4;
$code-function-dark: #569cd6;
$code-keyword-dark: #C586C0;
$code-class-name-dark: #4ec9b0;
