@use "base/var";
@use "base/color";
@use "base/backdrop";
@use "base/svg";

.wy-panels {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overscroll-behavior: contain;
    overflow-y: auto;
    overflow-x: hidden;
}

.wy-panel {
    --wy-component-background-color: #{color.token(--wy-background)};
    --wy-component-color: #{color.token(--wy-on-background)};
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
    background-color: var(--wy-component-background-color);
    color: var(--wy-component-color);
    display: flex;
    flex-direction: column;

    .wy-controls {
        top: .25rem;
        left: .25rem;
        min-width: 2.5rem;
        width: auto;
        display: flex;
        z-index: 10000;
        order: -1;
        flex-direction: row-reverse;

        &:empty {
            display: none;
        }

        wy-icon {
            color: var(--wy-component-color);
        }

        border-bottom: 1px solid color.token(--wy-outline-variant);
    }

    .wy-panel-frame {
        transition: opacity var.default(--wy-transition-fast);
        transition-delay: .2s;
        opacity: 1;

        &:not([src]) {
            display: none;
        }
    }

    &:not(.wy-loaded) .wy-panel-frame {
        opacity: 0;
        transition: opacity .2s step-start;
        transition-delay: .1s;
    }

    &.wy-open {
        pointer-events: all;
        z-index: 5;

        &[data-title]::before {
            content: attr(data-title);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: var.default(--wy-appbar-height);
            padding: .25rem;
            opacity: 0;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity .1s step-end;
            transition-delay: .2s;
            font-family: #{var.default(--wy-font-family)}, inherit;
            line-height: var.default(--wy-line-height);
            font-weight: var.default(--wy-font-weight);

            background-color: color.token(--wy-surface-1);
            color: color.token(--wy-on-surface);
            box-shadow: #{color.token(--wy-outline-variant)} 0px -1px 0px 0px inset;

            @include backdrop.filter;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;
            opacity: 0;
            transition: opacity var.default(--wy-transition);
            transition-duration: 0s;
        }

        &.wy-loading {
            &[data-title]::before {
                //transition: opacity var.default(--wy-transition);
                opacity: 1;
            }

            &::after {
                transition: opacity var.default(--wy-transition);
                transition-duration: .5s;
                opacity: 1;
                background-image: svg.$spinner;
                background-repeat: no-repeat;
                background-position: 50%;
                background-size: 2rem;
                background-color: transparent;
            }
        }
    }
}

// Transitions
.wy-panel {
    opacity: 0;
    visibility: hidden;
    transition: opacity var.default(--wy-transition-fast) .01s, transform var.default(--wy-transition-fast) .01s, visibility .01s step-end var.default(--wy-transition-duration-fast);

    &.wy-open {
        transition: opacity var.default(--wy-transition), transform var.default(--wy-transition), visibility var.default(--wy-transition-duration) step-start;
        visibility: visible;

        &.wy-transition {
            opacity: 1;
            transform: none;
        }
    }
}

.wy-panel-frame {
    flex: 1 1 100%;
    border: 0;
}
